/* ==========================
Reset CSS
=============================*/
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.5em;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: #4D5B6C;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}

/* ==========================
Re-usable CSS
=============================*/
.container{
    max-width: 1735px;
    width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
}
h1,h2,h3,h4,h4,h6{
    color: #1E2329;
    font-family: 'Noto Serif', serif;
    line-height: 1.5em;
}
h2{
    font-size: 40px;
}
h3{
   font-size: 30px;
}
h4{
    font-size: 20px;
}
.primary-btn{
    color: #fff;
    background: #0D2481;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #0D2481;
    transition: .3s;
}
.primary-btn:hover{
    color: #0D2481;
    background: #fff;
}
.primary-btn span{
    padding-left: 15px;
    padding-top: 5px;
}
.mini-title{
    position: relative;
    left: 45px;
}
.title{
    font-weight: normal;
    text-transform: uppercase;
    color: #4D5B6C;
}
.title::before{
    content: " ";
    display: block;
    height: 1px;
    width: 35px;
    background: #4D5B6C;
    position: absolute;
    left: -45px;
    top: 10px;
}

/* ==========================
Mobile Menu CSS
=============================*/
.mobile-menu{
    display: none;
}
.close-btn{
    display: none;
}

/* ==========================
Header Section CSS
=============================*/
#header-section{
    background: #0D2481;
    color: #fff;
    position: relative;
    height: 97px;
}
.main-nav,
.nav-left,
.nav-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* nav-left css */
.logo{
    max-width: 320px;
}
.logo img{
    width: 100%;
}
.main-menu ul li{
    display: inline-block;
    padding: 0 10px;
}
.main-menu ul li a{
    color: #fff;
    text-transform: capitalize;
    transition: .3s;
}
.main-menu ul li a:hover{
    color: #4D5B6C;
}

/* nav right css */
.nav-right{
    padding-right: 30px;
}
.nav-right-item{
    padding-right: 30px;
}
.nav-right-item:last-child{
    padding-right: 0;
}
.contact-number p span{
    padding-right: 5px;
}
.contact-btn a{
    padding: 5px 10px;
    border-radius: 4px;
    color: #0D2481;
    background: #fff;
}
.contact-btn button:hover{
    color: #4D5B6C;
}
/* search icon css */
.inner-head{
    position: relative;
}
.search-icon{
    cursor: pointer;
}
.search-box{
    position: absolute;
    display: none;
    right: 30px;
    bottom: -25px;
    z-index: 9;
}
.search-box input{
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px #666666;
    padding: 6px;
    width: 280px;
}

/* ==========================
Banner Section CSS
=============================*/
#banner-section{
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
    position: relative;
    background-position: center 100%;
}
.banner-text-box{
    background: rgba(255,255,255, 0.7);
    width: 946px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18%;
    border-top: 10px solid #0D2481;
}
.inner-banner-text-box{
    padding: 5% 5% 7% 15%;
    position: relative;
}
.inner-banner-text-box h1{
    font-size: 50px;
    line-height: 1.5em;
    position: relative;
}
.inner-banner-text-box h1::before{
    content: " ";
    display: block;
    height: 2px;
    width: 7.5%;
    background: #1E2329;
    position: absolute;
    left: -9%;
    top: 25%;
}
.inner-banner-text-box p{
    line-height: 1.5em;
    padding: 3% 0 6%;
}
/* Banner text box Slide nNav CSS */
.slide-nav{
    transform: rotate(90deg) translateY(-50%);
    position: absolute;
    top: 50%;
    left: -20px;
}
.nav{
    display: inline-block;
    height: 1px;
    width: 15px;
    background: #4D5B6C;
    margin: 2px 0;
}
.fourth-nav{
    width: 40px;
}
.nav-active{
    height: 2px;
    background: #0D2481;
}

/* ==========================
Logo Section CSS
=============================*/
.inner-logo-seciton{
    padding: 50px;
    width: 80%;
}
.logo-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo-item{
    width: 20%;
    padding: 20px;
}
.logo-item img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* ==========================
Service Section CSS
=============================*/
/* Service-text */
.service-box{
    display: flex;
}
.service-img{
    width: 45%;
}
.service-img img{
    width: 100%;
    height: 100%;
}
.service-text{
    padding: 5% 3% 5% 5%;
    background: url("../img/service-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 55%;
    color: #7E8CC5;
}
.service-text .title{
    color: #98A5D9;;
}
.service-text .title::before{
    background: #98A5D9;
}
.service-text h2{
    color: #fff;
    margin-bottom: 30px;
}
.inner-service-text{
    display: flex;
    margin-bottom: 50px;
}
.service{
    width: 50%;
}
.service:last-child{
    margin-left: 20px;
}
.service li{
    padding: 10px 10px 10px 30px;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
}
.li-title p::before{
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #7E8CC5;
    position: absolute;
    left: 10px;
    top: 14px;
}
.li-title p.active-dot::before{
    background: #fff;
}
.title-white{
    color: #fff;
}
.service-active{
    background: rgba(25, 47, 135, .8);
    border-top: 3px solid #fff;
}
.li-details{
    font-size: 12px;
    padding-top: 5px;
    padding-left: 8px;
    display: none;
}
.li-details-active{
    display: block;
}
.li-details p{
    font-size: 14px;
}
.challenge p{
    padding: 10px;
    background: #0C2175;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}
.challenge p a{
    color: #fff;
    padding-right: 15px;
}

/* ==========================
Recent Work Section CSS
=============================*/
#recent-work{
    padding: 100px 0 50px;
}
#recent-work .container{
    margin: 0 0 0 auto;
    overflow-x: visible;
}
.inner-recent-work{
    display: flex;
}
.recent-work-text{
    width: 35%;
    padding: 20px 50px 0px 0;
    position: relative;
    left: -5%;
}
.recent-work-text p{
    margin: 20px 0 80px;
}
/*Gallery CSs */
.recent-work-gallery{
    width: 65%;
    /* position: absolute;
    right: 0; */
}
.gallery-item img{
    cursor: pointer;
    transition: .3s;
}
.gallery-item:hover img{
    transform: scaleY(1.1);
}
/* Custome owl carousel */
.owl-stage-outer {
    padding: 20px 0;
}
.owl-nav{
    display: none;
}
.owl-theme .owl-dots .owl-dot span{
    height: 2px;
    width: 15px;
    border-radius: 0;
    margin: 2px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #0D2481;
}
.owl-dots{
    transform: rotate(90deg);
    position: absolute;
    left: -45px;
    bottom: 45px;
}

/* ==========================
Product Making Section CSS
=============================*/
#product-making-section{
    padding: 50px 0;
}
.inner-product-making{
    display: flex;
}
/* Video area */
.video-area{
    width: 45%;
    border-radius: 4px;
    height: 100%;
}
.video{
    position: relative;
}
.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #4D5B6C;
    text-align: center;
}
.play-btn span i{
    color: #fff;
    margin-top: 10px;
}
.video-description{
    padding: 50px 50px 100px;
    background: #fff;
    box-shadow: 0 0 10px rgba(13, 36, 129, .3);
    top: -5px;
    position: relative;
}
.video-description p{
    margin-bottom: 80px;
}
.video-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-author span{
    font-size: 14px;
    color: #666666;
}

/* Product Area */
.product-area{
    width: 55%;
    padding: 0 50px;
}
.product-area .product-details{
    margin: 20px 0 80px;
}
.product-box{
    display: flex;
    flex-wrap: wrap;
}
.product-item{
    width: 50%;
    margin-bottom: 20px;
    padding-right: 10px;
}
.product-item p{
    padding: 10px 0 !important;
}


/* ==========================
Article Section CSS
=============================*/
#article-section{
    padding: 50px 0 100px;
}
.article-section-title{
    width: 50%;
}
.article-section-title p{
    margin: 20px 0 80px;
}
.all-article .title{
    font-size: 14px;
}
.all-article{
    display: flex;
}
.artice-link{
    display: block;
    color: #0D2481;
}
.artice-link span{
    padding-left: 10px;
}
/* Latest Article */
.latest-article{
   width: 50%;
}
.latest-article img{
    width: 100%;
    margin: 40px 0;
}
.latest-article p{
    margin-bottom: 80px;
}

/* Related Article */
.related-article{
    width: 50%;
    padding-left: 50px;
    padding-bottom: 50px;
}
.related-article-box h3{
    padding-right: 30%;
}
.related-article-description p{
    padding: 0 0 30px;
}
.article{ 
    margin: 10px 0 70px; 
    display: block;
}
.related-article-img{
    width: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.related-article-img img{
    width: 100%;
}
.related-article .primary-btn{
    float: right;
    margin-top: 20px;
}



/* ==========================
Contact Section CSS
=============================*/
#contact-section{
    background: url("../img/contact-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.inner-contact{
    padding: 50px 0;
    color: #98A5D9;
}
.contact-box{
    display: flex;
    align-items: center;
}

/* contact-left */
.contact-left{
    width: 50%;
}
.contact-left .title{
    color: #98A5D9;
}
.contact-left .title::before{
    background: #98A5D9;;
}
.contact-left h2{
    color: #fff;
}
.contact-left p{
    padding: 20px 0;
}
/* contact-right */
.contact-right{
    text-align: center;
    width: 50%;
}
.contact-right img{
    width: 90px;
    height: 90px;
}
.contact-right h3{
    color: #fff;
    padding: 20px 0;
}
.contact-right .primary-btn{
    background: #173198;
}


/* ==========================
Footer Top Section CSS
=============================*/
#footer-top-section{
    background: url(../img/footer-top-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.inner-footer-top{
    padding: 0 0 50px;
}
.footer-top-box{
    display: flex;
}

/* footer-top-left */
.footer-top-left{
    width: 50%;
    padding-right: 5%;
}
.footer-logo img{
    height: 100px;
}
.footer-top-left .footer-para{
    padding: 20px 0 40px;
}
.address{
    display: flex;
}
.address-box{
    width: 50%;
}
/* footer-top-right */
.footer-top-right{
    width: 50%;
    display: flex;
    margin-top: 20px;
}
.footer-item{
    width: 33.33%;
    padding-right: 20px;
}
.footer-item ul{
    margin-top: 10px;
}
.footer-item ul li{
    padding: 8px 0;
}


/* ==========================
Footer Bottom Section CSS
=============================*/
#footer-bottom-section{
    background: url(../img/footer-top-bg.png) no-repeat;
    background-size: cover;
    background-position: left;
    font-size: 14px;
}
.inner-footer-bottom{
    padding: 0 0 25px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #4D5B6C;
    align-items: center;
    padding: 20px 0;
}
.footer-bottom-right ul li{
    display: inline-block;
    padding-left: 10px;
}
.footer-bottom-right ul li a{
    color: #4D5B6C;
}
